body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
a {
     color: #6A1B9A;
     text-decoration: none;
 }

a:hover {
    color: #6A1B9A;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}


#header {
    background: rgba(25, 25, 25, 0.95);
    transition: all 0.5s;
    z-index: 997;
    height: 70px;
}

#header.fixed-top {
    background: #191919;
}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#header .logo a {
    color: #fff;
}

#header .logo img {
    max-height: 40px;
}

.navbar {
    padding: 0;
}
.navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px 24px 15px;
    font-size: 14px;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}


.navbar a:hover, .navbar .active, .navbar .active:focus>a {
    background: #6A1B9A;
    height: 70px;

}

#hero {
    width: 100%;
    height: calc(100vh - 110px);
    background-size: cover;
    position: relative;
}

#hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}

#hero h2 {
    color: #eee;
    margin-bottom: 30px;
    font-size: 24px;
}

#button{
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 10px 28px;
    transition: 0.5s;
    border: 2px solid;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}



#button:hover{
    background: #6A1B9A;
    border-color: #6A1B9A;
}

#portrait{
    float: right;
}
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #191919;
    position: relative;
    z-index: 2;
}

#cards {
    padding-top: 10px;
}

#cards .card {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
}

#cards .card h2 {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: #6A1B9A;
}

#cards .card p {
    color: #aaaaaa;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

#cards .card:hover {
    background: #6A1B9A;
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

#cards .card:hover h2, #cards .card:hover p {
    color: #fff;
}

.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.video{
    padding-top: 10px;
    display: block;
    width: auto;
    margin: 0 auto;
}

.video {
    display: flex;
    justify-content: center;
}

.contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
}

.contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.contact .info-box:hover{
    background: #6A1B9A;
}

.contact .info-box:hover h3{
    color: #fff;
}

.contact .info-box:hover p{
    color: #fff;
}

.contact #boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#footer {
    background: #0c0c0c;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
}

#footer .copyright {
    border-top: 1px solid #262626;
    text-align: center;
    padding-top: 30px;
}